In [1]:
import pandas as pd
import numpy as np

# 2つデータフレームが全く同じかどうかを確認する関数

In [2]:
from pandas.util.testing import assert_frame_equal

def judge_df(df1, df2):  
    '''
    関数使用方法
    ・judge_df(df3, df4)
    '''
    try:
        assert_frame_equal(df1, df2)
        return True
    
    except:
        return False

In [3]:
df1 = pd.DataFrame({
    'test1':[1,2,3,4,5]
})

df2 = pd.DataFrame({
    'test2':[11,12,13,14,15]
})

df3 = pd.DataFrame({
    'test1':[1,2,3,4,5]
})
display(df1, df2, df3)

   test1
0      1
1      2
2      3
3      4
4      5

   test2
0     11
1     12
2     13
3     14
4     15

   test1
0      1
1      2
2      3
3      4
4      5

In [4]:
display(judge_df(df1, df2), judge_df(df1, df3))

False

True