In [1]:
import pandas as pd
import numpy as np

# 可視化用のライブラリ
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import re

from tqdm import tqdm_notebook as tqdm
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas(desc="progress: ")

In [2]:
# [serch_word]をキーに2つのデータフレームをマージする
# [x]を意図的に表記揺れさせている
df = pd.DataFrame(
    {'search_word':[ 'a', 'b', 'c', 'd', 'e', 'h', 'x '],
     'company1':['A', 'B', 'C', 'D', 'E', 'H', 'X' ]
    })

df1 = pd.DataFrame(
    {'search_word':['b', 'c', 'e', 'f', 'g', 'h', 'i', 'j', 'x'],
     'id':['1', '2', '3', '5', '6', '7', '8', '9', '10']
    })

In [3]:
# ユニークなレコードを抽出
df = df.drop_duplicates()
df

  company1 search_word
0        A           a
1        B           b
2        C           c
3        D           d
4        E           e
5        H           h
6        X          x

In [4]:
df1

   id search_word
0   1           b
1   2           c
2   3           e
3   5           f
4   6           g
5   7           h
6   8           i
7   9           j
8  10           x

In [5]:
left_merge_df = pd.merge(df, df1, on='search_word', how='left')
left_merge_df
# search_wordの「x」の一方に半角スペースを入れたため同じ文字列とみなされずxのidが欠損値になってしまう

  company1 search_word   id
0        A           a  NaN
1        B           b    1
2        C           c    2
3        D           d  NaN
4        E           e    3
5        H           h    7
6        X          x   NaN

In [6]:
left_merge_df.isnull().sum()

company1       0
search_word    0
id             3
dtype: int64

## 何割のデータが紐づいた(or落ちた)のかを確認

In [7]:
# 全体のレコード数から欠損値の数を引くことでどれだけのレコードが[serch_word]をキーにして紐づいたのかを確認
(len(df) - 3) / len(df)# データフレームの結合で紐づいたのはレコードは全レコード数の57%にあたる4件

0.5714285714285714