In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'left':[10, 8, 6, 4, 2],
    'right':[2, 4, 6, 8, 10]
})

df

   left  right
0    10      2
1     8      4
2     6      6
3     4      8
4     2     10

In [3]:
def create_compare_values_flag(col1, col2):
    '''
    関数内容
    ・2つのカラムの値の大小を比較して0 or 1 フラグを立てる関数
    Input
    ・col1：col2に指定した以外のカラム
    ・col2：col1に指定した以外のカラム
    関数使用方法
    ・cross_df['比較_flag'] = cross_df.apply(lambda x: create_compare_values_flag(x['buy'], x['sell']), axis=1)
    '''
    if col1 < col2:
        flag = 0
    elif col1 >= col2:
        flag = 1
        
    return flag

In [4]:
df['flag'] = df.apply(lambda x: create_compare_values_flag(x['left'], x['right']), axis=1)

df

   left  right  flag
0    10      2     1
1     8      4     1
2     6      6     1
3     4      8     0
4     2     10     0