In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('magnification.xlsx')
df

    left  right
0      0  10000
1     10   1000
2    100    100
3   1000     10
4  10000      0

In [3]:
# 倍率を算出する関数1
def calc_magnification(numerator_col, denominator_col):
    '''
    関数内容
    ・分母の値が「0」もしくは分子、分母のどちらかが欠損値の場合は倍率を「-1」、それ以外は倍率を算出する関数
    Input
    ・numerator_col:倍率算出時に分子にしたいカラム
    ・denominator_col:倍率算出時に分母にしたいカラム
    関数使用方法
    ・df['売上高/売上高_倍率'] = df.apply(lambda x: calc_magnification(x['売上高_buy'], x['売上高_sell']), axis=1)
    '''

    ratio = -1

    if (str(numerator_col).replace('.', '').isdecimal()) and (str(denominator_col).replace('.', '').isdecimal()):

        numerator_col = float(numerator_col)
        denominator_col = float(denominator_col)

        if denominator_col != 0:
            ratio = numerator_col / denominator_col

    ratio = float(ratio)

    return ratio

In [4]:
df['倍率1'] = df.apply(lambda x: calc_magnification(x['left'] , x['right']), axis=1)
df

    left  right     倍率1
0      0  10000    0.00
1     10   1000    0.01
2    100    100    1.00
3   1000     10  100.00
4  10000      0   -1.00

In [5]:
# 倍率を算出する関数2
def calc_magnification(numerator_col, denominator_col):
    '''
    関数内容
    ・分母の値が「0」もしくは分子、分母のどちらかが欠損値の場合は倍率を「-1」、それ以外は倍率を算出する関数
    Input
    ・numerator_col:倍率算出時に分子にしたいカラム
    ・denominator_col:倍率算出時に分母にしたいカラム
    関数使用方法
    ・df['売上高/売上高_倍率'] = df.apply(lambda x: calc_magnification(x['売上高_buy'], x['売上高_sell']), axis=1)
    '''

    if denominator_col == 0:
        ratio = -1
    elif np.isnan(numerator_col)  or np.isnan(denominator_col):
        ratio = -1
    else:
        ratio = numerator_col / denominator_col

    return ratio

In [6]:
df['倍率2'] = df.apply(lambda x: calc_magnification(x['left'] , x['right']), axis=1)
df

    left  right     倍率1     倍率2
0      0  10000    0.00    0.00
1     10   1000    0.01    0.01
2    100    100    1.00    1.00
3   1000     10  100.00  100.00
4  10000      0   -1.00   -1.00