In [1]:
import pandas as pd
import numpy as np

In [2]:
# id1とid2の組み合わせが重複になるパターンを2組作成したファイルを読み込み
df = pd.read_excel('duplication_check.xlsx')
df

    id1  id2  judgement
0     1    2          1
1     2    3          1
2     3    4          1
3     4    5          0
4     5    6          0
5     6    1          0
6     1    6          0
7     2    3          1
8     3    4          1
9     4    3          1
10    5    1          0
11    6    2          0

In [3]:
# id1とid2の２つをgroupbyのキーにしてカウントすることでid1とid2の組み合わせに重複があるかどうか確認できる
df.groupby(['id1', 'id2'])[['judgement']].count().sort_values('judgement', ascending=False)

         judgement
id1 id2
2   3            2
3   4            2
1   2            1
    6            1
4   3            1
    5            1
5   1            1
    6            1
6   1            1
    2            1

In [4]:
# 元データフレームの行数とgroupbyで作成されたデータフレームの長さが同じ(=True)場合id1とid2の組み合わせに重複はなし
# 長さが異なる(=False)場合はid1とid2の組み合わせに重複はなし
len(df) == len(df.groupby(['id1', 'id2'])[['judgement']].count())

False

# 2つのカラムの組み合わせが重複かどうかを判定する関数

In [5]:
'''2つのカラムの組み合わせが重複かどうかを判定する関数'''
def judge_duplication_of_two_columns(df, col1, col2, col3):
    '''
    co1, col2:重複判定したい2カラム
    col3:カウントしたいカラム(重複判定したいだけなのでdfに格納されているどのカラムでも問題ない)
    '''
    if len(df) == len(df.groupby([col1, col2])[col3].count()):
        print(col1 + 'と' + col2 +'の組み合わせに重複はありません。')
    else:
        print(col1 + 'と' + col2 +'の組み合わせに重複があります。')

In [6]:
# 関数の挙動を確認
judge_duplication_of_two_columns(df, 'id1', 'id2', 'judgement')

id1とid2の組み合わせに重複があります。