In [1]:
import pandas as pd
import numpy as np

# progress_applyやprogress_mapを使えるようにする
from tqdm._tqdm_notebook import tqdm_notebook
# プログレスバーのラベルを表示できるようにする
tqdm_notebook.pandas(desc="progress: ")

In [2]:
a_array = np.arange(6).reshape(3,2)
a_array

array([[0, 1],
       [2, 3],
       [4, 5]])

In [3]:
a_df = pd.DataFrame(a_array, columns=['num1', 'num2'])
a_df

   num1  num2
0     0     1
1     2     3
2     4     5

In [4]:
a_df['ratio'] = a_df.progress_apply(lambda x: x['num1'] / x['num2'], axis=1)

HBox(children=(IntProgress(value=0, description='progress: ', max=3), HTML(value='')))

In [5]:
a_df

   num1  num2     ratio
0     0     1  0.000000
1     2     3  0.666667
2     4     5  0.800000

#### 参考URL：https://qiita.com/MysteriousMonky/items/a238da520993f1f4b0cf