In [1]:
import pandas as pd
import numpy as np

### dataディレクトリの中に格納されているxlsxファイルのパスを取得

In [2]:
import glob

file_list = glob.glob('data/fille_*.xlsx')

file_list

['data\\fille_1706.xlsx', 'data\\fille_1709.xlsx', 'data\\fille_1712.xlsx']

## データフレームを読み込む際に[決算日]カラムをdatetime64型で読み込む
pandas.read_excel関数の引数にparse_datesを指定する

In [3]:
dtypes={'科目コード':str, '金額':int}
parse_date = ['決算日']

#df = pd.read_excel('data/fille_1712.xlsx',dtype=dtypes, parse_dates=parse_date)

df_list = [pd.read_excel(file ,dtype=dtypes, parse_dates=parse_date) for file in file_list]

display(df_list[0], df_list[1], df_list[2])

         決算日  科目コード  金額
0 2017-06-30  10001  10
1 2017-06-30  10002  20
2 2017-06-30  10003  30
3 2017-06-30  10002  40
4 2017-06-30  10001  50

         決算日  科目コード   金額
0 2017-09-30  10001  100
1 2017-09-30  10002  200
2 2017-09-30  10003  300
3 2017-09-30  10002  400
4 2017-09-30  10001  500

         決算日  科目コード     金額
0 2017-12-31  10001  10000
1 2017-12-31  10002  20000
2 2017-12-31  10003  30000
3 2017-12-31  10002  40000
4 2017-12-31  10001  50000

In [4]:
# 読み込んだデータフレームの各カラムのデータ型の確認
for df in df_list:
    display(df.dtypes)

決算日      datetime64[ns]
科目コード            object
金額                int32
dtype: object

決算日      datetime64[ns]
科目コード            object
金額                int32
dtype: object

決算日      datetime64[ns]
科目コード            object
金額                int32
dtype: object