In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('sample_company.xlsx')
df.head()

   type1  type2  label
0  10000  10000      1
1  10000  10000      1
2  10000  10000      1
3  10000  10000      1
4  10000  10000      1

### np.where関数を使用して条件に応じて値を代入
第一引数に条件、第二引数に第一引数で指定した条件がTrueの時に返す値、Falseの時に返す値を第三引数にする

if then ... else ...のような条件分岐の処理が可能

In [3]:
df['is_match'] = np.where(df['type1'] == df['type2'], 1, 0)

#df['is_not_match'] = np.where(df['type1'] != df['type2'], 1, 0)

df.head()

   type1  type2  label  is_match
0  10000  10000      1         1
1  10000  10000      1         1
2  10000  10000      1         1
3  10000  10000      1         1
4  10000  10000      1         1

## 特定カラムを対象にcount、sum関数を適用
agg関数で1つのカラムに対して集約関数をリストに渡すことで複数の集計が可能になる

In [4]:
g_df = df.groupby('is_match').agg({'label':['count', 'sum']})
g_df

         label
         count sum
is_match
0           21   5
1           13   8