In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'cate':np.random.randint(low=1, high=5, size=20000),
    'count': np.random.randint(low=1, high=100, size=20000),
    'label': np.random.randint(low=0, high=2, size=20000)
})

df.head()

   cate  count  label
0     1     29      0
1     4     60      0
2     2     93      1
3     1     66      1
4     4      3      1

In [3]:
g_df = df.groupby('cate').agg({'count':'sum', 'label':'sum'})
g_df

       count  label
cate
1     249633   2432
2     254589   2493
3     247277   2490
4     250519   2541

# indexに割り当てられた行名を変更

In [4]:
g_df.index = [
    '0以上',
    '10以上',
    '20以上',
    '30以上'
]
g_df

       count  label
0以上   249633   2432
10以上  254589   2493
20以上  247277   2490
30以上  250519   2541