In [1]:
import jaconv
import unicodedata
import re

import pandas as pd
import numpy as np

from tqdm import tqdm_notebook as tqdm
from tqdm._tqdm_notebook import tqdm_notebook
# # プログレスバーのラベル設定
tqdm_notebook.pandas(desc="progress: ")

In [2]:
df = pd.DataFrame({
    'kana':['データ', 'エンジニア'],
    'hiragana':['でーた', 'えんじにあ']
})

df

  hiragana   kana
0      でーた    データ
1    えんじにあ  エンジニア

## 全角から半角に変換

In [3]:
df['hiragana'] = df['hiragana'].progress_apply(lambda x: jaconv.z2h(x, kana=True, digit=True, ascii=True))
df['kana'] = df['kana'].progress_apply(lambda x: jaconv.z2h(x, kana=True, digit=True, ascii=True))

df

A Jupyter Widget

A Jupyter Widget

  hiragana    kana
0      でｰた    ﾃﾞｰﾀ
1    えんじにあ  ｴﾝｼﾞﾆｱ

## 半角から全角に変換

In [4]:
df['hiragana'] = df['hiragana'].progress_apply(lambda x: jaconv.h2z(x, kana=True, digit=True, ascii=True))
df['kana'] = df['kana'].progress_apply(lambda x: jaconv.h2z(x, kana=True, digit=True, ascii=True))

df

A Jupyter Widget

A Jupyter Widget

  hiragana   kana
0      でーた    データ
1    えんじにあ  エンジニア