In [1]:
import jaconv
import unicodedata
import re

import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'kana':['データ', 'エンジニア'],
    'hiragana':['でーた', 'えんじにあ']
})

df

  hiragana   kana
0      でーた    データ
1    えんじにあ  エンジニア

In [3]:
df['hiragana'] = df['hiragana'].apply(lambda x: jaconv.z2h(x, kana=True, digit=True, ascii=True))
df['kana'] = df['kana'].apply(lambda x: jaconv.z2h(x, kana=True, digit=True, ascii=True))

df

  hiragana    kana
0      でｰた    ﾃﾞｰﾀ
1    えんじにあ  ｴﾝｼﾞﾆｱ