In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('id&product.xlsx')
df

   id product
0   1      水筒
1   2  鉄フライパン
2   3   フライパン
3   4     NaN
4   5       鍋

# NaNがある場合にstr.containsを使用する方法
    NaNがある状態でstr.containsメソッドを使用するとエラー(cannot index with vector containing NA / NaN values)が発生する
    このエラーを解消するには、str.containsメソッドの引数にna=Falseと指定する

In [3]:
df[df['product'].str.contains('フライパン', na=False)]

   id product
1   2  鉄フライパン
2   3   フライパン

#### 参考URL：https://teratail.com/questions/108500