In [1]:
import pandas as pd
import numpy as np

In [2]:
# 適当なデータフレームを2つ作成
# 恣意的に片方のデータフレームのレコード数を増やす
df1 = pd.DataFrame({
    'products':['水筒1', '水筒2'],
    'price':['1000', '2000']
})

df2 = pd.DataFrame({
    'products_1':['水筒1', '水筒2', '水筒1', '水筒2', 'フライパン1', 'フライパン2'],
    'price':['1000', '2000', '1000', '2000', '2000', '3000']
})

In [3]:
df1

  price products
0  1000      水筒1
1  2000      水筒2

In [4]:
df2

  price products_1
0  1000        水筒1
1  2000        水筒2
2  1000        水筒1
3  2000        水筒2
4  2000     フライパン1
5  3000     フライパン2

## キーにするカラム名がそれぞれ異なるテーブルを左結合する場合

left_on='xx', right_on='yy' を使用する

In [5]:
merge_df = pd.merge(df1, df2, how='left', left_on='products', right_on='products_1', suffixes=['_相手', '_Z'])
merge_df

  price_相手 products price_Z products_1
0     1000      水筒1    1000        水筒1
1     1000      水筒1    1000        水筒1
2     2000      水筒2    2000        水筒2
3     2000      水筒2    2000        水筒2

left_onに指定したdf1の[products]カラムのユニーク数は2つにもかかわらず、right_onに指定した[products_1]カラムの要素の数に引っ張られ増えている

→左結合時、左側のテーブルのキーに指定したカラムのユニーク数に合わせたいのなら、

df.drop_duplicates(subset=['left_onに指定カラム', 'right_onに指定カラム'])

として重複分を除外する必要がある

In [6]:
drop_merge_df = merge_df.drop_duplicates(subset=['products', 'products_1'])
drop_merge_df

  price_相手 products price_Z products_1
0     1000      水筒1    1000        水筒1
2     2000      水筒2    2000        水筒2

## カラム名を左結合時の左のテーブルのキーの名前に揃える場合

In [7]:
df10 = pd.DataFrame({
    'products':['水筒1', '水筒2'],
    'price':['1000', '2000']
})

df20 = pd.DataFrame({
    'products_1':['水筒1', '水筒2', '水筒1', '水筒2', 'フライパン1', 'フライパン2'],
    'price':['1000', '2000', '1000', '2000', '2000', '3000']
})

In [8]:
df20 = df20.rename(columns={'products_1':'products'})
df20

  price products
0  1000      水筒1
1  2000      水筒2
2  1000      水筒1
3  2000      水筒2
4  2000   フライパン1
5  3000   フライパン2

In [9]:
merge_df2 = pd.merge(df10, df20, on='products', how='left',suffixes=['_相手', '_Z'])
merge_df2

  price_相手 products price_Z
0     1000      水筒1    1000
1     1000      水筒1    1000
2     2000      水筒2    2000
3     2000      水筒2    2000

In [10]:
drop_merge_df2 = merge_df.drop_duplicates(subset=['products'])
drop_merge_df2

  price_相手 products price_Z products_1
0     1000      水筒1    1000        水筒1
2     2000      水筒2    2000        水筒2