In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib

In [2]:
# 科目コードのデータ型をstring型に指定(指定しないと欠損値があるためにfloat型で読み込まれてしまう)
df = pd.read_excel('data/file_1806.xlsx', dtype={'科目コード':str})

display(df.shape, df.dtypes, df)

(5, 3)

決算日      datetime64[ns]
科目コード            object
金額              float64
dtype: object

         決算日  科目コード    金額
0 2018-06-30  10001  10.0
1 2018-06-30    NaN  20.0
2 2018-06-30  10003   NaN
3 2018-06-30  10002  40.0
4 2018-06-30  10001  50.0

# 保存

## pickleで保存

In [3]:
df.to_pickle('data/file_1806.pkl')

## joblibで保存

In [4]:
joblib.dump(df, 'data/file_1806.joblib', compress=3)

['data/file_1806.joblib']

# 保存したファイルの読み込み確認

## 保存したpickleファイルの読み込み

In [5]:
p_df = pd.read_pickle('data/file_1806.pkl')

display(p_df.shape, p_df.dtypes, p_df)

(5, 3)

決算日      datetime64[ns]
科目コード            object
金額              float64
dtype: object

         決算日  科目コード    金額
0 2018-06-30  10001  10.0
1 2018-06-30    NaN  20.0
2 2018-06-30  10003   NaN
3 2018-06-30  10002  40.0
4 2018-06-30  10001  50.0

## 保存したjoblibファイルの読み込み

In [6]:
j_df = joblib.load('data/file_1806.joblib')

display(j_df.shape, j_df.dtypes, j_df)

(5, 3)

決算日      datetime64[ns]
科目コード            object
金額              float64
dtype: object

         決算日  科目コード    金額
0 2018-06-30  10001  10.0
1 2018-06-30    NaN  20.0
2 2018-06-30  10003   NaN
3 2018-06-30  10002  40.0
4 2018-06-30  10001  50.0