In [1]:
# データ分析用のライブラリ
import pandas as pd
import numpy as np

In [2]:
data = {"year": [2010, 2011, 2012, 2013],
        "pref":["千葉", "山口", "岐阜", "東京"]}

df = pd.DataFrame(data)
df

  pref  year
0   千葉  2010
1   山口  2011
2   岐阜  2012
3   東京  2013

## pickleファイルとして保存

In [3]:
df.to_pickle('df181127.pkl')

## pickleファイルの読み込み

In [4]:
df1 = pd.read_pickle('df181127.pkl')
df1

  pref  year
0   千葉  2010
1   山口  2011
2   岐阜  2012
3   東京  2013

#### 参考URL：https://note.nkmk.me/python-pandas-to-pickle-read-pickle/