In [1]:
import pandas as pd
import numpy as np

## 関数一式

In [2]:
def connect_to_sqlserver(database, driver='{SQL Server}', server = 'localhost\SQLEXPRESS',trusted_connection='yes'):
    '''
    関数内容
    ・PythonからSQLserverへ接続する関数
    Input
    ・database：使用するデータベース名(予めSQLserver上で「CREATE DATABASE [データベース名]」というコードを実行させて作成しておく)
    関数使用方法
    ・connect_to_sqlserver('C10000_database')
    '''
    import pyodbc
    connection = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';DATABASE='+database+';Trusted_Connection='+trusted_connection+';')
    cursor = connection.cursor()
    
    return connection, cursor

def extract_table_data_in_sqlserver(sql_query, connection):
    '''
    関数内容
    ・SQL文の実行結果をデータフレームに格納する関数
    Input
    ・sql_query：SQL文
    ・connection：データベースへのConnection

    '''
    df = pd.read_sql(sql_query, connection)

    return df

## 関数の実行

In [3]:
connection, cursor = connect_to_sqlserver('C10000_database')

query = '''
    SELECT
      [決算日]
      ,[金額]
    FROM
        fille_1706
    ;
'''

df = extract_table_data_in_sqlserver(query, connection)

In [4]:
# 確認
df

          決算日    金額
0  2017-06-30  10.0
1  2017-06-30  20.0
2  2017-06-30  30.0
3  2017-06-30  40.0
4  2017-06-30  50.0