In [1]:
import re
import gc
import glob

import pandas as pd
import numpy as np

In [2]:
file_list = sorted(glob.glob('data/enavi*.csv'))

display(len(file_list), file_list)

18

['data\\enavi201904(6875).csv',
 'data\\enavi201905(6875).csv',
 'data\\enavi201906(6875).csv',
 'data\\enavi201907(6875).csv',
 'data\\enavi201908(6875).csv',
 'data\\enavi201909(6875).csv',
 'data\\enavi201910(6875).csv',
 'data\\enavi201911(6875).csv',
 'data\\enavi201912(6875).csv',
 'data\\enavi202001(6875).csv',
 'data\\enavi202002(6875).csv',
 'data\\enavi202003(6875).csv',
 'data\\enavi202004(6875).csv',
 'data\\enavi202005(6875).csv',
 'data\\enavi202006(6875).csv',
 'data\\enavi202007(6875).csv',
 'data\\enavi202008(6875).csv',
 'data\\enavi202009(6875).csv']

In [3]:
name_list = [name.split('\\')[1].split('(')[0] for name in file_list]

name_list

['enavi201904',
 'enavi201905',
 'enavi201906',
 'enavi201907',
 'enavi201908',
 'enavi201909',
 'enavi201910',
 'enavi201911',
 'enavi201912',
 'enavi202001',
 'enavi202002',
 'enavi202003',
 'enavi202004',
 'enavi202005',
 'enavi202006',
 'enavi202007',
 'enavi202008',
 'enavi202009']

In [4]:
def memo_for_sqlcode_about_union_all(table_name_list):
    '''UNION ALLを効率よく書く関数'''
    for i, name in zip(range(len(table_name_list)), table_name_list):
        if i == int(len(table_name_list))-1:
            print('SELECT * FROM [dbo].[' + name + ']')
        else:
            print('SELECT * FROM [dbo].[' + name + ']' +  '\nUNION ALL')

In [5]:
memo_for_sqlcode_about_union_all(name_list)

SELECT * FROM [dbo].[enavi201904]
UNION ALL
SELECT * FROM [dbo].[enavi201905]
UNION ALL
SELECT * FROM [dbo].[enavi201906]
UNION ALL
SELECT * FROM [dbo].[enavi201907]
UNION ALL
SELECT * FROM [dbo].[enavi201908]
UNION ALL
SELECT * FROM [dbo].[enavi201909]
UNION ALL
SELECT * FROM [dbo].[enavi201910]
UNION ALL
SELECT * FROM [dbo].[enavi201911]
UNION ALL
SELECT * FROM [dbo].[enavi201912]
UNION ALL
SELECT * FROM [dbo].[enavi202001]
UNION ALL
SELECT * FROM [dbo].[enavi202002]
UNION ALL
SELECT * FROM [dbo].[enavi202003]
UNION ALL
SELECT * FROM [dbo].[enavi202004]
UNION ALL
SELECT * FROM [dbo].[enavi202005]
UNION ALL
SELECT * FROM [dbo].[enavi202006]
UNION ALL
SELECT * FROM [dbo].[enavi202007]
UNION ALL
SELECT * FROM [dbo].[enavi202008]
UNION ALL
SELECT * FROM [dbo].[enavi202009]