In [1]:
import pandas as pd
import numpy as np

In [2]:
def basic_check(df):
    '''
    読み込んだデータフレームの
    ・行と列の長さ
    ・各カラムの欠損値の数
    ・各カラムのデータの型
    ・データフレームのレコード先頭から5行、末尾から5行
    を確認する
    '''
    print('行と列の長さ\n{}'.format(df.shape))
    print('-'*50)
    print('各カラムの欠損値の数\n{}'.format(df.isnull().sum()))
    print('-'*50)
    print(df.info())
    display(df.head(), df.tail())

In [3]:
'''dtypeを指定せずに読み込んだ場合'''
df = pd.read_excel('文字列の長さが異なるカラムを含むテーブル.xlsx')
basic_check(df)# code_idは「0」から始まる5桁の数字列にもかかわらず数字列が0から認識されない

行と列の長さ
(10, 2)
--------------------------------------------------
各カラムの欠損値の数
id         0
code_id    0
dtype: int64
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
id         10 non-null int64
code_id    10 non-null int64
dtypes: int64(2)
memory usage: 240.0 bytes
None

   id  code_id
0   1      101
1   2      102
2   3      103
3   4      104
4   5      105

   id  code_id
5   6      106
6   7      107
7   8      108
8   9      109
9  10      110

# 「0」から始まる数字列をそのまま「0」から始まる数字列として読み込む

In [4]:
object_df = pd.read_excel('文字列の長さが異なるカラムを含むテーブル.xlsx', dtype='object')
basic_check(object_df)

行と列の長さ
(10, 2)
--------------------------------------------------
各カラムの欠損値の数
id         0
code_id    0
dtype: int64
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
id         10 non-null object
code_id    10 non-null object
dtypes: object(2)
memory usage: 240.0+ bytes
None

  id code_id
0  1   00101
1  2   00102
2  3    0103
3  4    0104
4  5   00105

   id code_id
5   6   00106
6   7     107
7   8   00108
8   9   00109
9  10   00110