In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm_notebook as tqdm
from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas(desc="progress: ")

In [2]:
df = pd.read_excel('id_table.xlsx')

df

    id  id_b  id_s
0    1     5     9
1    2     5     8
2    3     5     9
3    1     2     8
4    2     3     9
5    3     4     8
6    1     6     7
7    2     3     6
8    2     2     6
9    1     4     7
10   4     3     6
11   4     2     8
12   3     3     7
13   2     6     6
14   5     7     4
15   5     8     3

## あるカラムの要素が特定のカラムの要素に含まれているか確認する
特定のカラムの要素はリストに格納しておく

In [3]:
id_list = df['id'].tolist()
id_list[0:3]# 出力して確認

[1, 2, 3]

In [4]:
# カラムの要素が[id]カラムの要素に含まれていれば「1」、そうでなければ「0」のフラグを立てる

df['is_id_b_flag'] = df['id_b'].progress_map(lambda x: '1' if x in id_list else '0')
df['is_id_s_flag'] = df['id_s'].progress_map(lambda x: '1' if x in id_list else '0')

display(df['is_id_b_flag'].value_counts(), df['is_id_s_flag'].value_counts(), df)

A Jupyter Widget

A Jupyter Widget

1    12
0     4
Name: is_id_b_flag, dtype: int64

0    14
1     2
Name: is_id_s_flag, dtype: int64

    id  id_b  id_s is_id_b_flag is_id_s_flag
0    1     5     9            1            0
1    2     5     8            1            0
2    3     5     9            1            0
3    1     2     8            1            0
4    2     3     9            1            0
5    3     4     8            1            0
6    1     6     7            0            0
7    2     3     6            1            0
8    2     2     6            1            0
9    1     4     7            1            0
10   4     3     6            1            0
11   4     2     8            1            0
12   3     3     7            1            0
13   2     6     6            0            0
14   5     7     4            0            1
15   5     8     3            0            1