In [1]:
# データ分析用のライブラリ
import pandas as pd
import numpy as np

## pickleファイルのすべてのカラムをobject型として読み込む

In [2]:
df = pd.read_pickle('df190216.pkl').astype(dtype='object')

display(df.info(), df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
id      4 non-null object
pref    4 non-null object
year    4 non-null object
dtypes: object(3)
memory usage: 176.0+ bytes

None

  id pref  year
0  1   千葉  2010
1  2   山口  2011
2  3   岐阜  2012
3  4   東京  2013