In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(index=['x1', 'y1', 'z1'], columns=['d', 't', 'u'])

df

      d    t    u
x1  NaN  NaN  NaN
y1  NaN  NaN  NaN
z1  NaN  NaN  NaN

In [3]:
index_list = df.index.tolist()

index_list

['x1', 'y1', 'z1']