In [1]:
import numpy as np
import pandas as pd

In [2]:
# 適当な2次元配列を作成
a = np.arange(6).reshape(3,2)
a

array([[0, 1],
       [2, 3],
       [4, 5]])

In [3]:
# 2次元配列をデータフレーム型に変換
df = pd.DataFrame(a, columns=['num1', 'num2'])
df

   num1  num2
0     0     1
1     2     3
2     4     5

In [4]:
# 行毎の合計を算出し、その値を格納した[sum]カラムを作成
# axis=1とすれば行同士で演算することが可能
# 参考URL：https://qiita.com/Fujimas_tamon/items/cc5b6fbb98a11a2dbde7
df['sum'] = df[['num1', 'num2']].sum(axis=1)
df

   num1  num2  sum
0     0     1    1
1     2     3    5
2     4     5    9

In [5]:
# 行毎の平均を算出し、その値を格納した[mean]カラムを作成
df['mean'] = df[['num1', 'num2']].mean(axis=1)
df

   num1  num2  sum  mean
0     0     1    1   0.5
1     2     3    5   2.5
2     4     5    9   4.5