In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('比率用ファイル(欠損値あり).xlsx')

df

       c1      c2
0     NaN     NaN
1   500.0     NaN
2     NaN   500.0
3  1000.0     0.0
4  1000.0   100.0
5   100.0  1000.0
6     0.0    10.0

In [3]:
def calc_magnification(numerator_col, denominator_col):
    '''
    関数内容
    ・分母の値が「0」ならば「-1」を、分子と分母どちらかが欠損値であれば「-99999」を、それ以外は倍率を算出する関数
    Input
    ・numerator_col:倍率算出時に分子にしたいカラム
    ・denominator_col:倍率算出時に分母にしたいカラム
    関数使用方法
    ・df['売上高/売上高_倍率'] = df.apply(lambda x: calc_magnification(x['売上高_buy'], x['売上高_sell']), axis=1)
    '''
    if denominator_col == 0:
        ratio = -1
    elif np.isnan(numerator_col)  or np.isnan(denominator_col):
        ratio = -99999
    else:
        ratio = numerator_col / denominator_col

    return ratio

In [4]:
df['ratio'] = df.apply(lambda x: calc_magnification(x['c1'], x['c2']), axis=1)

df

       c1      c2    ratio
0     NaN     NaN -99999.0
1   500.0     NaN -99999.0
2     NaN   500.0 -99999.0
3  1000.0     0.0     -1.0
4  1000.0   100.0     10.0
5   100.0  1000.0      0.1
6     0.0    10.0      0.0