In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    '文字列':['都市銀行','地方銀行','ネット銀行','']
})

df

     文字列
0   都市銀行
1   地方銀行
2  ネット銀行
3

## 文字列の列からリストの列を生成

In [3]:
df['文字列_list'] = df['文字列'].str.split(',')

df

     文字列 文字列_list
0   都市銀行   [都市銀行]
1   地方銀行   [地方銀行]
2  ネット銀行  [ネット銀行]
3              []

## データフレーム内の値のリストの外枠を除外する

In [4]:
df['文字列_str'] = df['文字列_list'].apply(','.join)

df

     文字列 文字列_list 文字列_str
0   都市銀行   [都市銀行]    都市銀行
1   地方銀行   [地方銀行]    地方銀行
2  ネット銀行  [ネット銀行]   ネット銀行
3              []

In [5]:
# 上記でエラーが発生する場合は下記を試す
# []を含め、値を文字列型に変換して記号1つずつ削除する
df['文字列_apply_str'] =df['文字列_list'].apply(lambda x: str(x).replace('[', '').replace(']', '').replace("'", ''))

df

     文字列 文字列_list 文字列_str 文字列_apply_str
0   都市銀行   [都市銀行]    都市銀行          都市銀行
1   地方銀行   [地方銀行]    地方銀行          地方銀行
2  ネット銀行  [ネット銀行]   ネット銀行         ネット銀行
3              []