In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('家庭用品.xlsx')
df

   id product product2
0  11   フライパン      やかん
1  12      水筒  コーヒーポット
2  13  鉄フライパン        鍋
3  14       鍋        鍋
4  15     圧力鍋    フライパン
5  16     NaN      NaN
6  17      水筒      NaN
7  18     NaN    フライパン

## データフレーム全体から「フライパン」が入ったレコードを削除する

In [3]:
df1 = df[(df != 'フライパン').all(axis=1)]
df1

   id product product2
1  12      水筒  コーヒーポット
2  13  鉄フライパン        鍋
3  14       鍋        鍋
5  16     NaN      NaN
6  17      水筒      NaN

### any(): 列(axis=0) or 行(axis=1)方向で1つでもTrueがあればTrueを，無ければFalseを返す
### 下記は「~」となっているので「フライパン」が入って「いない」レコードを抽出

In [4]:
df2 = df[~(df=='フライパン').any(axis=1)]
df2

   id product product2
1  12      水筒  コーヒーポット
2  13  鉄フライパン        鍋
3  14       鍋        鍋
5  16     NaN      NaN
6  17      水筒      NaN