In [1]:
import numpy as np
import pandas as pd

In [2]:
# 適当な2次元配列を作成
a = np.arange(6).reshape(3,2)
a

array([[0, 1],
       [2, 3],
       [4, 5]])

In [3]:
# 2次元配列をデータフレーム型に変換
df = pd.DataFrame(a, columns=['num1', 'num2'])
df

   num1  num2
0     0     1
1     2     3
2     4     5

In [4]:
# 行毎の割合を算出し、その値を格納した[diff]カラムを作成
# 参考URL：https://teratail.com/questions/106876　の「こんな感じでいいんじゃないでしょうか～」という前置きがある回答
df = df.assign(ratio = df['num1'] / df['num2'])
df

   num1  num2     ratio
0     0     1  0.000000
1     2     3  0.666667
2     4     5  0.800000