In [1]:
import pandas as pd
import numpy as np

# 可視化用のライブラリ
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.DataFrame({
    'id':['23456', '345', '678'],
    'sales2':['\\23456', '\\345', '\\678']
})

df

      id  sales2
0  23456  \23456
1    345    \345
2    678    \678

# sales2カラムをint型に変換する
ただし、要素の文字列内にバックスラッシュが入っているとastypeメソッドでint型に変換できないので予めバックスラッシュを削除しておく必要がある

# 各行の要素の文字列先頭にあるバックスラッシュを削除する

## 1

\23456 （バックスラッシュの数が実は2つある）という文字列のバックスラッシュ部分をreplaceメソッドで削除する

その状態でastypeメソッドを使用しint型に変更する

In [3]:
df['split_sales'] = df['sales2'].apply(lambda x: x.replace('\\', ''))
df

      id  sales2 split_sales
0  23456  \23456       23456
1    345    \345         345
2    678    \678         678

## バックスラッシュ削除＋int型に変換　をまとめて処理

In [4]:
df['split_sales'] = df['sales2'].apply(lambda x: x.replace('\\', '')).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
id             3 non-null object
sales2         3 non-null object
split_sales    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

## 2
\23456 （バックスラッシュの数が実は2つある）という文字列のバックスラッシュ部分を削除する

reprメソッドを使うと引数にシングルクォーテーションマークを付けて返す

バックスラッシュは2つあるのでreplace関数を使う際には4つ記載する必要がある

バックスラッシュを削除するだけでは文字列がシングルクォーテーションで囲まれたままなのでstripメソッドでシングルクォーテーションを削除する

strip():文字列の両端から指定文字をはぎとる。指定文字以外の文字になるまで消し続ける。

In [5]:
df['split_sales'] = df['sales2'].apply(lambda x: repr(x).replace('\\\\', '').strip(" ' "))
df

      id  sales2 split_sales
0  23456  \23456       23456
1    345    \345         345
2    678    \678         678

## バックスラッシュ削除＋int型に変換　をまとめて処理

In [6]:
df['split_sales'] = df['sales2'].apply(lambda x: repr(x).replace('\\\\', '').strip(" ' ")).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
id             3 non-null object
sales2         3 non-null object
split_sales    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes