In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'company':['a', 'b', 'c', 'd', 'e', 'f'],
    'label':['0', '2', '0', '2', '1', '0']
})

df

  company label
0       a     0
1       b     2
2       c     0
3       d     2
4       e     1
5       f     0

In [3]:
# フラグ[2]を「除く」全データを抽出
# [2]は文字列型になっているのでシングルクォーテーションを使う必要あり
df1 = df[df['label'] != '2']
df1

  company label
0       a     0
2       c     0
4       e     1
5       f     0

In [4]:
# こちらでも可能
# フラグ[2]を「除く」全データを抽出
# [2]は文字列になっているのでstrで文字列にして条件判定に使う
df2 = df[df['label'] != str(2)]
df2

  company label
0       a     0
2       c     0
4       e     1
5       f     0

In [5]:
# labelを文字列型から数値型へ変換
df['label'] = df['label'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
company    6 non-null object
label      6 non-null int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [6]:
# [2]が数値型の場合はそのまま判定に使える
df3 = df[df['label'] != 2]
df3

  company  label
0       a      0
2       c      0
4       e      1
5       f      0