In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'co1':['明細書1','明細書2','明細書3','明細1']
})

df

    co1
0  明細書1
1  明細書2
2  明細書3
3   明細1

# リスト内に「明細書」を含む値のみ抽出

In [3]:
statements_list0 = df['co1'].tolist()

statements_list = [statement for statement in statements_list0 if '明細書' in statement]

statements_list

['明細書1', '明細書2', '明細書3']