In [1]:
fizzbuzz_list1 = []

for i in range(0, 31):
    if i % 15 == 0:
        fizzbuzz_list1.append('fizzbuzz')
    elif i % 5 == 0:
        fizzbuzz_list1.append('buzz')
    elif i % 3 == 0:
        fizzbuzz_list1.append('fizz')
    else:
        fizzbuzz_list1.append(i)
        
fizzbuzz_list1

['fizzbuzz',
 1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']

# リスト内包表記内でfor文-if-elif-else文を使用

In [2]:
fizzbuzz_list2 = ['fizzbuzz' if i % 15 == 0 else 'buzz' if i % 5 == 0 else 'fizz' if i % 3 == 0 else i for i in range(0, 31)]
fizzbuzz_list2

['fizzbuzz',
 1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizzbuzz',
 16,
 17,
 'fizz',
 19,
 'buzz',
 'fizz',
 22,
 23,
 'fizz',
 'buzz',
 26,
 'fizz',
 28,
 29,
 'fizzbuzz']

### 出力結果が同じであるかを確認

In [3]:
import pandas as pd

df = pd.DataFrame({
    'list1':fizzbuzz_list1,
    'list2':fizzbuzz_list2
})

df.head()

      list1     list2
0  fizzbuzz  fizzbuzz
1         1         1
2         2         2
3      fizz      fizz
4         4         4

In [4]:
'''同じ値なら「0」、違う値なら「1」をつける'''
df['diff_flag'] = df.apply(lambda x: '0' if x['list1'] == x['list2'] else '1', axis=1)

display(df['diff_flag'].value_counts(), df)

0    31
Name: diff_flag, dtype: int64

       list1     list2 diff_flag
0   fizzbuzz  fizzbuzz         0
1          1         1         0
2          2         2         0
3       fizz      fizz         0
4          4         4         0
5       buzz      buzz         0
6       fizz      fizz         0
7          7         7         0
8          8         8         0
9       fizz      fizz         0
10      buzz      buzz         0
11        11        11         0
12      fizz      fizz         0
13        13        13         0
14        14        14         0
15  fizzbuzz  fizzbuzz         0
16        16        16         0
17        17        17         0
18      fizz      fizz         0
19        19        19         0
20      buzz      buzz         0
21      fizz      fizz         0
22        22        22         0
23        23        23         0
24      fizz      fizz         0
25      buzz      buzz         0
26        26        26         0
27      fizz      fizz         0
28        28        28         0
29        29        29         0
30  fizzbuzz  fizzbuzz         0