In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib

In [2]:
df = joblib.load('raw_obentou.pkl')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
df.shape

(207, 12)

## 重複削除を行う場合は欠損値を補完した後に行う

In [4]:
df = df.fillna('欠損値')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,欠損値,欠損値,欠損値,欠損値,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,欠損値,欠損値,欠損値,欠損値,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,欠損値,欠損値,欠損値,欠損値,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,欠損値,欠損値,欠損値,欠損値,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,欠損値,欠損値,欠損値,欠損値,快晴,--,16.1

In [5]:
df.isnull().sum()

datetime         0
y                0
week             0
soldout          0
name             0
kcal             0
remarks          0
event            0
payday           0
weather          0
precipitation    0
temperature      0
dtype: int64

In [6]:
# 重複レコードを削除
df = df.drop_duplicates()
df.shape

(207, 12)