In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
df2 = pd.DataFrame({
    'y':[159,90,92,94,96,101,118],
    'week':['月','月', '火', '水', '木', '金', '土']
})

df2

  week    y
0    月  159
1    月   90
2    火   92
3    水   94
4    木   96
5    金  101
6    土  118

## 一方にしかない要素を抽出
list型をset関数にして残したいほうを左に持ってきて差を取る

参考URL：http://nihaoshijie.hatenadiary.jp/entry/2017/12/23/120513

In [4]:
y_list = df['y'].tolist()
y_list2 = df2['y'].tolist()

diff_list = list(set(y_list2) - set(y_list))
diff_list

[94, 159]

In [5]:
'''別解'''
'''まず2つのリストの重複要素のみ抽出し、それを全体から引く'''

y_list = df['y'].tolist()
y_list2 = df2['y'].tolist()

# 重複している要素のみ抽出
c_list = list(set(y_list2) & set(y_list))
c_list

diff_self_list = list(set(y_list2) - set(c_list))
diff_self_list

[94, 159]

## 一方にしかない要素を含むレコードのみ抽出
参考URL:http://st-hakky.hatenablog.com/entry/2017/11/14/162234

## 1.isin()を使う

In [6]:
df3 = df2[df2['y'].isin(diff_list)]
df3

  week    y
0    月  159
3    水   94

## 2.df.query()を使う

In [7]:
df4 = df2.query('y == @diff_list')
df4

  week    y
0    月  159
3    水   94