In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'y':['0','1','2','3'],
    'y2':['4','5','6','7'],
    'y3':['8','9','10','11'],
    'week':['月','月', '火', '水']
})

df2 = pd.DataFrame({
    'y4':['0','2','4','6','8'],
    'week2':['月','月', '火', '水','木']
})

In [3]:
df

  week  y y2  y3
0    月  0  4   8
1    月  1  5   9
2    火  2  6  10
3    水  3  7  11

In [4]:
df2

  week2 y4
0     月  0
1     月  2
2     火  4
3     水  6
4     木  8

## 一方にしかない要素を抽出
list型をset関数にして残したいほうを左に持ってきて差を取る

参考URL：http://nihaoshijie.hatenadiary.jp/entry/2017/12/23/120513

In [5]:
y_list = df['y'].tolist()
y2_list = df['y2'].tolist()
y3_list = df['y3'].tolist()
y_list2 = df2['y4'].tolist()

diff_list = list(set(y_list) - set(y_list2))
diff_list2 = list(set(y2_list) - set(y_list2))
diff_list3 = list(set(y3_list) - set(y_list2))

print(diff_list)
print(diff_list2)
print(diff_list3)

['1', '3']
['7', '5']
['10', '11', '9']

In [6]:
'''別解'''
'''まず2つのリストの重複要素のみ抽出し、それを全体から引く'''

y_list = df['y'].tolist()
y2_list = df['y2'].tolist()
y3_list = df['y3'].tolist()
y_list2 = df2['y4'].tolist()

# 重複している要素のみ抽出
c_list = list(set(y_list) & set(y_list2))
c_list2 = list(set(y2_list) & set(y_list2))
c_list3 = list(set(y3_list) & set(y_list2))

diff_self_list = list(set(y_list) - set(c_list))
diff_self_list2 = list(set(y2_list) - set(c_list2))
diff_self_list3 = list(set(y3_list) - set(c_list3))

print(diff_self_list)
print(diff_self_list2)
print(diff_self_list3)

['1', '3']
['7', '5']
['10', '11', '9']

## 一方にしかない要素を含むレコードのみ抽出
参考URL:http://st-hakky.hatenablog.com/entry/2017/11/14/162234

## 1.isin()を使う

In [7]:
df3 = df[(df['y'].isin(diff_list)) & (df['y2'].isin(diff_list2)) & (df['y3'].isin(diff_list3))]
df3

  week  y y2  y3
1    月  1  5   9
3    水  3  7  11

In [8]:
df4 = df[(df['y'].isin(diff_list)) | (df['y2'].isin(diff_list2)) | (df['y3'].isin(diff_list3))]
df4

  week  y y2  y3
1    月  1  5   9
2    火  2  6  10
3    水  3  7  11