In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'id': range(1, 301),
    'used_day_cnt': np.random.randint(low=1, high=30, size=300)
})

df

      id  used_day_cnt
0      1            13
1      2            16
2      3            22
3      4             1
4      5             4
5      6            28
6      7             4
7      8             8
8      9            10
9     10            20
10    11            22
11    12            19
12    13             5
13    14            24
14    15             7
15    16            25
16    17            25
17    18            13
18    19            27
19    20             2
20    21             7
21    22             8
22    23            24
23    24            15
24    25            25
25    26            18
26    27             6
27    28            26
28    29            14
29    30             9
..   ...           ...
270  271            23
271  272            12
272  273             6
273  274            29
274  275            16
275  276             9
276  277             3
277  278            28
278  279            20
279  280            26
280  281            24
281  282            22
282  283            20
283  284            15
284  285            21
285  286            22
286  287             4
287  288             4
288  289             8
289  290            10
290  291            10
291  292            10
292  293            24
293  294             4
294  295            15
295  296            27
296  297            19
297  298            13
298  299             4
299  300            10

[300 rows x 2 columns]