In [1]:
import pandas as pd
import numpy as np

# 可視化用のライブラリ
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import neologdn
import MeCab

import re

In [2]:
df = pd.read_csv('all_text_wakatigaki.csv',encoding='utf-8')
df.head()

,surface,yomi,original,type,katsuyoukei,katsuyougata,内容
0,neologd,ネオログディー,NEologd,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1,_,_,_,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2,tagger,タガー,tagger,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3,.,.,.,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4,parse,パース,Parse,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

### 文章毎に含まれる単語数をカウント

In [3]:
# [内容]カラムをグループ化しカウント　
# reset_index関数を使い[内容]カラムをindex部分からデータ列部分に戻す
per_sentence_word_cnt = df.groupby('内容')['original'].count().reset_index()

# カラム名を[original]から[word_cnt]に変更
per_sentence_word_cnt = per_sentence_word_cnt.rename(columns={'original':'word_cnt'})
# 確認
per_sentence_word_cnt

                                                  内容  word_cnt
0  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...        26
1  まずはparse()で分かち書きした単語群は1つの文字列型になっているので「\n」で区切り、...        30
2     原形、品詞などの間には「\t」が、分かち書きされた単語と単語の区切りには「\n」が表示される        33
3  次に邪魔な文字「\t」を省きたい。よって、split('\t')を使用したいがwakatid...        41

In [4]:
# 文章全体の単語数をカウント(重複あり)
print('文章全体の単語数(重複あり)は{}語です。'.format(len(df)))

文章全体の単語数(重複あり)は130語です。

### 文章全体の単語数(重複なし)をカウント

In [5]:
unique_word_cnt = df['original'].nunique()
print('文章全体の単語数(重複なし)は{}語です。'.format(unique_word_cnt))

文章全体の単語数(重複なし)は66語です。

### 単語毎の出現回数をカウント

In [6]:
word_cnt_df = df['original'].value_counts().reset_index()

# カラム名を適切な名前に変更
word_cnt_df = word_cnt_df.rename(columns={'index':'original', 'original':'count'})

# 確認
word_cnt_df

   original  count
0        する      7
1         で      5
2         、      5
3         の      5
4         は      5
5         に      4
6        単語      4
7         」      4
8         が      4
9         型      4
10        「      3
11        \      3
12        を      3
13        t      3
14       れる      3
15        た      2
16    split      2
17        て      2
18        n      2
19       使用      2
20      リスト      2
21     text      2
22       ない      2
23    Parse      2
24        _      2
25       たい      2
26       品詞      2
27       表示      2
28       など      2
29       原形      2
..      ...    ...
36        .      1
37        。      1
38        (      1
39        )      1
40        行      1
41      まずは      1
42       ')      1
43       なる      1
44       ()      1
45        だ      1
46        間      1
47       関数      1
48        1      1
49      区切る      1
50       文字      1
51       次に      1
52   tagger      1
53       ので      1
54       省く      1
55      ('\      1
56        群      1
57       連続      1
58      よって      1
59       ため      1
60        各      1
61      区切り      1
62       1つ      1
63        と      1
64       邪魔      1
65       「\      1

[66 rows x 2 columns]

## 出現回数が５以上の単語を抽出

In [7]:
word_cnt_over5_df = word_cnt_df.query('count >= 5')
word_cnt_over5_df

  original  count
0       する      7
1        で      5
2        、      5
3        の      5
4        は      5

## 出現回数が３以上５未満の単語を抽出

In [8]:
word_cnt_between3_5_df = word_cnt_df.query('3 <= count < 5')
word_cnt_between3_5_df

   original  count
5         に      4
6        単語      4
7         」      4
8         が      4
9         型      4
10        「      3
11        \      3
12        を      3
13        t      3
14       れる      3