In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'sales_1': np.random.randint(low=1, high=500000, size=20000),
    'sales_2': np.random.randint(low=0, high=100000, size=20000)
})

df.head()

   sales_1  sales_2
0   461485    95252
1   305712    77901
2   435830    45118
3   117953    28944
4   439108    19405

In [3]:
df.describe()

             sales_1       sales_2
count   20000.000000  20000.000000
mean   250573.654250  50150.917600
std    143612.162749  28784.828754
min        22.000000      2.000000
25%    127389.500000  25234.000000
50%    252367.500000  50035.000000
75%    372934.500000  75205.250000
max    499992.000000  99997.000000

## 各レコードの割合算出時に分母が0であるかそうでないかで処理方法を変える

In [4]:
def sales_ratio(numerator_col, denominator_col):
    '''
    分子よりも分母の方が大きい場合は倍率を「0.0」
    分母が「0」の場合は倍率を「-1」
    上記以外は倍率を算出する
    
    numerator_col:倍率算出時に分子にしたいカラム
    denominator_col:倍率算出時に分母にしたいカラム
    '''
    if numerator_col < denominator_col:
        ratio = 0.0
    elif denominator_col == 0:
        ratio = -1
    else:
        ratio = round((numerator_col / denominator_col), 0)
    return ratio

In [5]:
df['sales_ratio'] = df.apply(lambda x: sales_ratio(x['sales_1'], x['sales_2']), axis=1)
df.head()

   sales_1  sales_2  sales_ratio
0   461485    95252          5.0
1   305712    77901          4.0
2   435830    45118         10.0
3   117953    28944          4.0
4   439108    19405         23.0