In [1]:
import sys,os
import gc
from pathlib import Path
import glob
import re
import pickle
import warnings

import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/ratio_190813.xlsx')

df

     開設数  サンプルサイズ
0     10       40
1    100     4000
2   1000     4000
3  10000    50000

In [3]:
df1 = df.copy()

# 割合を%単位で算出
下記であれば小数点以下の桁数をコントロールできる（小数点第一位まで算出)

参考：https://note.nkmk.me/python-round-decimal-quantize/

In [4]:
from decimal import Decimal, ROUND_HALF_UP

df['開設割合'] =df.apply(
    lambda x: str(Decimal(str(round(x['開設数']/x['サンプルサイズ'],3)*100)).quantize(Decimal('0.1'), rounding=ROUND_HALF_UP))+ '%', axis=1
)

df

     開設数  サンプルサイズ   開設割合
0     10       40  25.0%
1    100     4000   2.5%
2   1000     4000  25.0%
3  10000    50000  20.0%

 下記の場合、割り切れない場合は丸め込まれず、小数点以下が永遠と続いてしまう

In [5]:
df1['開設割合'] =df1.apply(lambda x: (str(round(x['開設数']/x['サンプルサイズ'],3)*100))+'%', axis=1)

df1

     開設数  サンプルサイズ   開設割合
0     10       40  25.0%
1    100     4000   2.5%
2   1000     4000  25.0%
3  10000    50000  20.0%