In [1]:
import sys,os
import gc
from pathlib import Path
import glob
import re
import pickle
import warnings

import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/mean_190801.xlsx')

df

    id  deposit
0    1     1000
1    2   100000
2    3     1000
3    4   200000
4    1    10000
5    2     2000
6    3   300000
7    1  2000000
8    2     1000
9    1     5000
10   2     4000
11   1     1000
12   1     3000

In [3]:
mean_df = df.groupby('id').mean().reset_index().rename(columns={'deposit':'deposit_mean'})

mean_df

   id   deposit_mean
0   1  336666.666667
1   2   26750.000000
2   3  150500.000000
3   4  200000.000000

In [4]:
cnt_df = df.groupby('id').count().reset_index().rename(columns={'deposit':'deposit_count'})

cnt_df

   id  deposit_count
0   1              6
1   2              4
2   3              2
3   4              1

In [5]:
merge_df = pd.merge(mean_df, cnt_df, on='id', how='left')

merge_df

   id   deposit_mean  deposit_count
0   1  336666.666667              6
1   2   26750.000000              4
2   3  150500.000000              2
3   4  200000.000000              1

# 加重平均の算出
(id毎のdepositの平均×id毎の数(これがweight))の合計 / idの数の合計(weightの合計)

In [6]:
merge_df['deposit_product'] = merge_df['deposit_mean'] * merge_df['deposit_count']

merge_df

   id   deposit_mean  deposit_count  deposit_product
0   1  336666.666667              6        2020000.0
1   2   26750.000000              4         107000.0
2   3  150500.000000              2         301000.0
3   4  200000.000000              1         200000.0

In [7]:
merge_df['deposit_product'].sum() / merge_df['deposit_count'].sum()

202153.84615384616

下記のコードでも算出可能

In [8]:
wt_avg = (merge_df['deposit_mean'] * merge_df['deposit_count']).sum() / merge_df['deposit_count'].sum()

wt_avg

202153.84615384616

下記のコードでも算出可能

In [9]:
mean = merge_df['deposit_mean'].values
weight = merge_df['deposit_count'].values

wt_avg = (mean * weight).sum() / weight.sum()

wt_avg

202153.84615384616