In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'sales_1': np.random.randint(low=1, high=500000, size=20000),
    'sales_2': np.random.randint(low=1, high=400000, size=20000)
})

df.head()

   sales_1  sales_2
0   461485   100512
1   305712   370373
2   435830   208974
3   117953   307263
4   439108    28945

In [3]:
df.describe()

             sales_1        sales_2
count   20000.000000   20000.000000
mean   250573.654250  199208.603700
std    143612.162749  115260.012729
min        22.000000      28.000000
25%    127389.500000   98820.500000
50%    252367.500000  198785.000000
75%    372934.500000  299172.500000
max    499992.000000  399995.000000

## 各行の条件に応じて処理を変更する
apply(lambda x: 条件式が真のときに評価される式 or 値 if 条件式 else 条件式が偽のときに評価される式 or 値）とする

In [4]:
df['sales_ratio'] = df.apply(lambda x: 0.0 if x['sales_1'] < x['sales_2'] else x['sales_1'] / x['sales_2'], axis=1)
df.head()

   sales_1  sales_2  sales_ratio
0   461485   100512     4.591342
1   305712   370373     0.000000
2   435830   208974     2.085570
3   117953   307263     0.000000
4   439108    28945    15.170427