In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('precision', 2)
pd.options.display.float_format = '{:.9g}'.format

In [3]:
np.random.seed(0)

df = pd.DataFrame({
    'id': np.random.randint(low=1, high=3000, size=20000),
    'drink_payment': np.random.randint(low=100, high=500, size=20000),
    'car_payment': np.random.randint(low=1300000, high=5000000, size=20000)
})

df.head()

   car_payment  drink_payment    id
0      2209269            117  2733
1      2625378            150  2608
2      4236104            355  1654
3      3674988            368   836
4      3109637            112   764

In [4]:
df[['drink_payment', 'car_payment']].describe()

       drink_payment  car_payment
count          20000        20000
mean        299.0579   3152219.82
std       114.783966   1074307.15
min              100      1300389
25%              201      2227090
50%              298    3146385.5
75%              398      4085126
max              499      4999942

# 変動係数を算出する関数
変動係数 = 標準偏差 / 平均

In [5]:
def calc_cv(values, ddof=0, n=2):
    '''
    関数内容
    ・変動係数を算出する関数
    Input
    ・values:array形式にした値の集合
    ・ddof:0or1を指定する(0→標本標準偏差、1→不偏標準偏差)
    ・n:小数を丸めるときの桁数
    関数使用方法
    ・calc_cv(df['drink_payment'].values)
    '''
    
    cv = round(np.std(values, ddof=ddof) / np.mean(values), n)
    
    return cv

def calc_cv_scipy(values, n=2):
    '''
    関数内容
    ・変動係数を算出する関数(scipyを使用した場合)
    Input
    ・values:array形式にした値の集合
    ・n:小数を丸めるときの桁数
    関数使用方法
    ・calc_cv_scipy(df['drink_payment'].values)
    '''
    
    from scipy.stats import variation
    cv = round(variation(values), n)
    
    return cv

In [6]:
display(
    'drink_paymentの変動係数は{}です。'.format(calc_cv(df['drink_payment'].values)),
    'car_paymentの変動係数は{}です。'.format(calc_cv(df['car_payment'].values))
       )

'drink_paymentの変動係数は0.38です。'

'car_paymentの変動係数は0.34です。'

In [7]:
display(
    'drink_paymentの変動係数は{}です。'.format(calc_cv_scipy(df['drink_payment'].values)),
    'car_paymentの変動係数は{}です。'.format(calc_cv_scipy(df['car_payment'].values))
       )

'drink_paymentの変動係数は0.38です。'

'car_paymentの変動係数は0.34です。'

#### 参考URL：https://www.monotalk.xyz/blog/Calculate-coefficient-of-variation-with-python-scipy-and-numpy/