In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'sales_1': np.random.randint(low=1, high=500000, size=20000),
    'sales_2': np.random.randint(low=0, high=100000, size=20000)
})

df.head()

   sales_1  sales_2
0   461485    95252
1   305712    77901
2   435830    45118
3   117953    28944
4   439108    19405

# 大きい桁数を指数表示にしない方法

In [3]:
pd.options.display.float_format = '{:.6g}'.format
df.describe()

       sales_1  sales_2
count    20000    20000
mean    250574  50150.9
std     143612  28784.8
min         22        2
25%     127390    25234
50%     252368    50035
75%     372934  75205.2
max     499992    99997