In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_text_wakatigaki.csv',encoding='utf-8')
df.head()

,surface,yomi,original,type,katsuyoukei,katsuyougata,内容
0,neologd,ネオログディー,NEologd,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1,_,_,_,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2,tagger,タガー,tagger,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3,.,.,.,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4,parse,パース,Parse,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

In [3]:
cnt_df = df['original'].value_counts().reset_index().rename(columns={'index':'word', 'original':'度数'})
display(cnt_df.head(), cnt_df.tail())

  word  度数
0   する   7
1    の   5
2    で   5
3    は   5
4    、   5

   word  度数
61    だ   1
62  よって   1
63   邪魔   1
64   ため   1
65   なる   1

## 度数分布表の階級の数と階級の幅を算出する

In [4]:
'''度数分布表の階級の数と階級の幅を算出する関数'''
def calc_kaikyu_sizewidth(df, col):
    '''
    スタージェスの公式（Sturges' formula）から階級の数を求める
    → 度数分布やヒストグラム作成時の階級数の目安を得られる公式。nをサンプル数、kを階級数として下記の式で求めることができる。
    → k=1+log2n
    
    df:該当データフレーム
    col:ヒストグラム描画時にy軸にしたいカラム
    
    使い方：calc_kaikyu_sizewidth(std_df, 'std_tf_idf')
    '''
    import math
    # 階級の数を算出
    class_size = 1 + math.log(len(df[col]), 2)
    # 階級の幅を算出
    class_width =(max(df[col])-min(df[col])) / class_size#分母は階級の数、分子は範囲
    
    print('度数分布表の階級数は{}です。'.format(class_size),'階級幅は{}です。'.format(class_width))

In [5]:
calc_kaikyu_sizewidth(cnt_df, '度数')

度数分布表の階級数は7.044394119358453です。 階級幅は0.8517411005598919です。