In [1]:
import pandas as pd
import numpy as np

In [2]:
# 適当なデータフレームを作成
a_array = [['2016/03第2四半期'], ['2017/06第2四半期'], ['2018/09第2四半期']]
a_array

[['2016/03第2四半期'], ['2017/06第2四半期'], ['2018/09第2四半期']]

In [3]:
a_df = pd.DataFrame(a_array, columns=['決算'])
a_df

             決算
0  2016/03第2四半期
1  2017/06第2四半期
2  2018/09第2四半期

In [4]:
a_df['決算年'] = a_df['決算'].apply(lambda x: x[0:4])
a_df['決算月'] = a_df['決算'].apply(lambda x: x[6:7])

a_df

             決算   決算年 決算月
0  2016/03第2四半期  2016   3
1  2017/06第2四半期  2017   6
2  2018/09第2四半期  2018   9

In [5]:
# 後にcalendar.monthrange(year, month)関数を使用するための準備
# (year, month)はどちらもint型でないとエラーが発生するため
a_df = a_df.astype({'決算年': int, '決算月': int}) 

a_df.dtypes

決算     object
決算年     int32
決算月     int32
dtype: object

# 指定した年と月の月末日を抽出

In [6]:
import calendar

# calendar.monthrange(year, month)関数の返り値はyear と month で指定された月末日の曜日と月末日であるが、今回は月末日のみを抽出する
a_df['決算日'] = a_df.apply(lambda x: calendar.monthrange(x['決算年'], x['決算月'])[1], axis=1)
# 後に決算年、決算月、決算日の3つのカラムの値を組み合わせるための準備
# カラムのデータ型を文字列型に変換
# その際に決算月を2桁の文字列にしたいので0埋め処理を実施
a_df = a_df.astype(str)
a_df['決算月'] = a_df['決算月'].apply(lambda x: x.zfill(2))

a_df

             決算   決算年 決算月 決算日
0  2016/03第2四半期  2016  03  31
1  2017/06第2四半期  2017  06  30
2  2018/09第2四半期  2018  09  30

In [7]:
a_df.dtypes

決算     object
決算年    object
決算月    object
決算日    object
dtype: object

In [8]:
a_df['決算年月日'] = a_df['決算年'] + a_df['決算月'] + a_df['決算日']

a_df

             決算   決算年 決算月 決算日     決算年月日
0  2016/03第2四半期  2016  03  31  20160331
1  2017/06第2四半期  2017  06  30  20170630
2  2018/09第2四半期  2018  09  30  20180930

### 決算年月日カラムのデータ型を文字列型から日付型に変換する

In [9]:
a_df['決算年月日'] = pd.to_datetime(a_df['決算年月日'], format='%Y-%m-%d')

a_df

             決算   決算年 決算月 決算日      決算年月日
0  2016/03第2四半期  2016  03  31 2016-03-31
1  2017/06第2四半期  2017  06  30 2017-06-30
2  2018/09第2四半期  2018  09  30 2018-09-30

In [10]:
a_df.dtypes

決算               object
決算年              object
決算月              object
決算日              object
決算年月日    datetime64[ns]
dtype: object