In [1]:
import pandas as pd
import numpy as np

In [2]:
# id1とid2の組み合わせが重複になるパターンを2組作成したファイルを読み込み
df = pd.read_excel('duplication_check.xlsx')
df

    id1  id2  judgement
0     1    2          1
1     2    3          1
2     3    4          1
3     4    5          0
4     5    6          0
5     6    1          0
6     1    6          0
7     2    3          1
8     3    4          1
9     4    3          1
10    5    1          0
11    6    2          0

# 指定カラムの要素が一致しているか、していないかのフラグを立てる

In [3]:
df['match_flag'] = df.apply(lambda x: 1 if x['id1'] == x['judgement'] else 0, axis=1)
df

    id1  id2  judgement  match_flag
0     1    2          1           1
1     2    3          1           0
2     3    4          1           0
3     4    5          0           0
4     5    6          0           0
5     6    1          0           0
6     1    6          0           0
7     2    3          1           0
8     3    4          1           0
9     4    3          1           0
10    5    1          0           0
11    6    2          0           0