In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'id': np.arange(1, 301),
    'used_day_cnt': np.random.randint(low=1, high=300, size=300)
})

df.head()

   id  used_day_cnt
0   1           173
1   2            48
2   3           118
3   4           193
4   5           252

## used_day_cntの要素を1~100, 101~200, 201~300に分類する

### →下限値を含まない、上限値を含む、という範囲指定のやり方
” ( ” は下限値を含まない、” ] ” は上限値を含むという意味

In [3]:
class_list = np.arange(0, 400, 100).tolist()

class_list

[0, 100, 200, 300]

In [4]:
df['binning'] = pd.cut(df['used_day_cnt'], class_list)

df.head()

   id  used_day_cnt     binning
0   1           173  (100, 200]
1   2            48    (0, 100]
2   3           118  (100, 200]
3   4           193  (100, 200]
4   5           252  (200, 300]

In [5]:
df['binning'].value_counts()

(0, 100]      104
(200, 300]    100
(100, 200]     96
Name: binning, dtype: int64

## used_day_cntの要素を1~99, 100~199, 200~299に分類する

### →下限値を含む、上限値は含まない、という範囲指定のやり方

In [6]:
df['binning_2'] = pd.cut(df['used_day_cnt'], class_list, right=False)

df.head()

   id  used_day_cnt     binning   binning_2
0   1           173  (100, 200]  [100, 200)
1   2            48    (0, 100]    [0, 100)
2   3           118  (100, 200]  [100, 200)
3   4           193  (100, 200]  [100, 200)
4   5           252  (200, 300]  [200, 300)

In [7]:
df[df['used_day_cnt'] == 100]

    id  used_day_cnt   binning   binning_2
26  27           100  (0, 100]  [100, 200)
61  62           100  (0, 100]  [100, 200)

In [8]:
df['binning_2'].value_counts()

[0, 100)      102
[200, 300)    101
[100, 200)     97
Name: binning_2, dtype: int64

参考URL:http://ailaby.com/cut_qcut/