In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.date_range('20190101', periods=14)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14'],
              dtype='datetime64[ns]', freq='D')

## 2019/1/1から14までの日付を取得し1つのカラムに格納

In [3]:
df = pd.DataFrame()

df['date'] = pd.date_range('20190101', periods=14)

df

         date
0  2019-01-01
1  2019-01-02
2  2019-01-03
3  2019-01-04
4  2019-01-05
5  2019-01-06
6  2019-01-07
7  2019-01-08
8  2019-01-09
9  2019-01-10
10 2019-01-11
11 2019-01-12
12 2019-01-13
13 2019-01-14