In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_excel('スペース全角半角123文字.xlsx')
df

           文字列
0       スペースなし
1    スペース 半角1つ
2   スペース 半角 2つ
3  スペース 半角 3 つ
4    スペース　全角1つ
5   スペース　全角　2つ
6  スペース　全角　3　つ

## 全角半角スペース1文字を抽出

In [3]:
df[df['文字列'].str.contains('\s.', na=False)]

           文字列
1    スペース 半角1つ
2   スペース 半角 2つ
3  スペース 半角 3 つ
4    スペース　全角1つ
5   スペース　全角　2つ
6  スペース　全角　3　つ

## 全角半角スペース2文字を抽出

In [4]:
df[df['文字列'].str.contains('\s.*\s', na=False)]

           文字列
2   スペース 半角 2つ
3  スペース 半角 3 つ
5   スペース　全角　2つ
6  スペース　全角　3　つ

## 全角半角スペース3文字を抽出

In [5]:
df[df['文字列'].str.contains('\s.*\s.*\s', na=False)]

           文字列
3  スペース 半角 3 つ
6  スペース　全角　3　つ

## 半角スペース1文字を抽出

In [6]:
df[df['文字列'].str.contains(' .', na=False)]

           文字列
1    スペース 半角1つ
2   スペース 半角 2つ
3  スペース 半角 3 つ

## 半角スペース2文字を抽出

In [7]:
df[df['文字列'].str.contains(' .* ', na=False)]

           文字列
2   スペース 半角 2つ
3  スペース 半角 3 つ

## 半角スペース3文字を抽出

In [8]:
df[df['文字列'].str.contains(' .* .* ', na=False)]

           文字列
3  スペース 半角 3 つ

## 全角スペース1文字を抽出

In [9]:
df[df['文字列'].str.contains('　.', na=False)]

           文字列
4    スペース　全角1つ
5   スペース　全角　2つ
6  スペース　全角　3　つ

## 全角スペース2文字を抽出

In [10]:
df[df['文字列'].str.contains('　.*　', na=False)]

           文字列
5   スペース　全角　2つ
6  スペース　全角　3　つ

## 全角スペース3文字を抽出

In [11]:
df[df['文字列'].str.contains('　.*　.*　', na=False)]

           文字列
6  スペース　全角　3　つ