In [1]:
import pandas as pd
import numpy as np

## 相対参照パス指定でデータを読み込む
'../'と入力した後Tabキーを押して該当データファイルが格納されているディレクトリまで向かっていく

In [2]:
df = pd.read_pickle('../Owner/Documents/data/obento_int_type.pkl')
df.head()

     y  soldout  temperature  year  month  day
0   90        0         19.8  2013     11   18
1  101        1         17.0  2013     11   19
2  118        0         15.5  2013     11   20
3  120        1         15.2  2013     11   21
4  130        1         16.1  2013     11   22