In [8]:
import pandas as pd
import numpy as np
# scipy.stats.bartlettを使う場合、scipyはscipy.statsまでインポートしないとエラーが発生する。
import scipy.stats

In [3]:
np.random.seed(0)

df1 = pd.DataFrame({
    'id': range(1, 301),
    'Frequency': np.random.randint(low=1, high=100, size=300)
})

df2 = pd.DataFrame({
    'id': range(302, 402),
    'Frequency': np.random.randint(low=10, high=1000, size=100)
})


display(df1.head(), df2.head())

   id  Frequency
0   1         45
1   2         48
2   3         65
3   4         68
4   5         68

    id  Frequency
0  302        367
1  303        918
2  304        566
3  305        895
4  306        775

In [5]:
display(df1[['Frequency']].describe(), df2[['Frequency']].describe())

        Frequency
count  300.000000
mean    47.930000
std     27.888546
min      1.000000
25%     25.000000
50%     46.500000
75%     71.000000
max     99.000000

        Frequency
count  100.000000
mean   514.970000
std    300.069233
min     14.000000
25%    258.750000
50%    517.500000
75%    779.250000
max    997.000000

# 等分散性の検定（F検定）を行う

In [9]:
scipy.stats.bartlett(df1['Frequency'], df2['Frequency'])

BartlettResult(statistic=874.0412154316527, pvalue=4.315590501990544e-192)

P値が0.05未満であるため帰無仮説を棄却できる、つまり2つのグループの分散は違うと言える

参考：https://toukei.link/programmingandsoftware/statistics_by_python/ftest_for_homoscedasticity/