In [1]:
import pandas as pd
import numpy as np

In [2]:
# 適当なデータフレームを2つ作成
df1 = pd.DataFrame({
    'products':['水筒1', '水筒2'],
    'price':['1000', '2000']
})

df2 = pd.DataFrame({
    'products_1':['水筒1', '水筒2', '水筒1', '水筒2', 'フライパン1', 'フライパン2'],
    'price':['1000', '2000', '1000', '2000', '2000', '3000']
})

In [3]:
df1

  price products
0  1000      水筒1
1  2000      水筒2

In [4]:
df2

  price products_1
0  1000        水筒1
1  2000        水筒2
2  1000        水筒1
3  2000        水筒2
4  2000     フライパン1
5  3000     フライパン2

## キーにするカラム以外のカラム名が重複してしまう場合

suffixes=['_x', '_y'] を引数に与える

In [5]:
merge_df = pd.merge(df1, df2, how='left', left_on='products', right_on='products_1', suffixes=['_相手', '_Z'])
merge_df

  price_相手 products price_Z products_1
0     1000      水筒1    1000        水筒1
1     1000      水筒1    1000        水筒1
2     2000      水筒2    2000        水筒2
3     2000      水筒2    2000        水筒2