In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({
    'test1':[1,2,3,4,5]
})

df2 = pd.DataFrame({
    'test2':[11,12,13,14,15]
})

display(df1, df2)

   test1
0      1
1      2
2      3
3      4
4      5

   test2
0     11
1     12
2     13
3     14
4     15

# 複数のDataFrameを1つのxlsxファイルに書き込み保存
参考：https://note.nkmk.me/python-pandas-to-excel/

In [3]:
with pd.ExcelWriter('ExcelWriter用.xlsx') as writer:
    df1.to_excel(writer, sheet_name='test1', index=False)
    df2.to_excel(writer, sheet_name='test2', index=False)