In [1]:
# データ分析用のライブラリ
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_text_wakatigaki.csv',encoding='utf-8')
df.head()

,surface,yomi,original,type,katsuyoukei,katsuyougata,内容
0,neologd,ネオログディー,NEologd,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1,_,_,_,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2,tagger,タガー,tagger,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3,.,.,.,記号-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4,parse,パース,Parse,名詞-固有名詞-一般,NaN,NaN,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

#### データ読み込み時にカラムを絞る
usecols=['xx', 'yy']を引数に与える

In [3]:
squeeze_df = pd.read_csv('all_text_wakatigaki.csv', usecols=['内容', 'original', 'type'] ,encoding='utf-8')
squeeze_df.head()

  original        type                                                 内容
0  NEologd  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1        _       記号-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2   tagger  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3        .       記号-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4    Parse  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

## 複数カラムの値の組み合わせのユニーク数を数える
groupbyの引数に複数の該当カラムを指定する

In [5]:
group_df = squeeze_df.groupby(['original', 'type']).count().reset_index()
group_df = group_df.rename(columns={'内容':'count'})
group_df = group_df.sort_values('count', ascending=False)# countカラムの値を降順にする
group_df.head()

   original       type  count
27       する      動詞-自立      7
33        で  助詞-格助詞-一般      5
42        は     助詞-係助詞      5
40        の     助詞-連体化      5
19        、      記号-読点      5