In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

## 複数の指定カラムが「どちらも」欠損して「いない」レコードを抽出

In [3]:
df1 = df[(~df['kcal'].isnull()) & (~df['remarks'].isnull())]
df1

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
40,2014-1-24,92,金,1,鶏のレモンペッパー焼orカレー,418.0,鶏のレモンペッパー焼（50食）、カレー（42食）,NaN,NaN,快晴,--,10.1
59,2014-2-21,113,金,0,酢豚orカレー,410.0,酢豚（28食）、カレー（85食）,ママの会,NaN,快晴,--,8.5
119,2014-5-22,54,木,1,サーモンのムニエル2色ソース,428.0,料理長のこだわりメニュー,NaN,NaN,雷電,0,19.0
138,2014-6-18,66,水,1,ビーフストロガノフ,426.0,料理長のこだわりメニュー,NaN,NaN,雨,0,21.9
153,2014-7-9,54,水,1,チキンのコーンクリーム焼き,388.0,料理長のこだわりメニュー,NaN,NaN,雨,0,24.6
179,2014-8-20,56,水,0,豚ロースのピザ風チーズ焼き,423.0,料理長のこだわりメニュー,ママの会,NaN,快晴,--,33.3
188,2014-9-2,68,火,1,名古屋味噌カツ,440.0,手作りの味,NaN,NaN,晴れ,--,29.1
198,2014-9-17,49,水,0,チキンフリカッセ,430.0,料理長のこだわりメニュー,ママの会,NaN,曇,--,25.0

#### こちらの書き方でも可能

In [4]:
df2 = df[~(df['kcal'].isnull()) & ~(df['remarks'].isnull())]
df2

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
40,2014-1-24,92,金,1,鶏のレモンペッパー焼orカレー,418.0,鶏のレモンペッパー焼（50食）、カレー（42食）,NaN,NaN,快晴,--,10.1
59,2014-2-21,113,金,0,酢豚orカレー,410.0,酢豚（28食）、カレー（85食）,ママの会,NaN,快晴,--,8.5
119,2014-5-22,54,木,1,サーモンのムニエル2色ソース,428.0,料理長のこだわりメニュー,NaN,NaN,雷電,0,19.0
138,2014-6-18,66,水,1,ビーフストロガノフ,426.0,料理長のこだわりメニュー,NaN,NaN,雨,0,21.9
153,2014-7-9,54,水,1,チキンのコーンクリーム焼き,388.0,料理長のこだわりメニュー,NaN,NaN,雨,0,24.6
179,2014-8-20,56,水,0,豚ロースのピザ風チーズ焼き,423.0,料理長のこだわりメニュー,ママの会,NaN,快晴,--,33.3
188,2014-9-2,68,火,1,名古屋味噌カツ,440.0,手作りの味,NaN,NaN,晴れ,--,29.1
198,2014-9-17,49,水,0,チキンフリカッセ,430.0,料理長のこだわりメニュー,ママの会,NaN,曇,--,25.0