In [1]:
# データ分析用のライブラリ
import pandas as pd
import numpy as np

#### データ読み込み時にカラムを絞る
usecols=['xx', 'yy']を引数に与える

In [2]:
squeeze_df = pd.read_csv('all_text_wakatigaki.csv', usecols=['内容', 'original', 'type'] ,encoding='utf-8')
squeeze_df.head()

  original        type                                                 内容
0  NEologd  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
1        _       記号-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
2   tagger  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
3        .       記号-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...
4    Parse  名詞-固有名詞-一般  neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...

## 1.複数列の文字列同士を結合して新たな列を生成
「+」演算子を使う

In [3]:
squeeze_df['original_type'] = squeeze_df['original'] + ' _ ' + squeeze_df['type']
squeeze_df.head()

,original,type,内容,original_type
0,NEologd,名詞-固有名詞-一般,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...,NEologd _ 名詞-固有名詞-一般
1,_,記号-一般,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...,_ _ 記号-一般
2,tagger,名詞-固有名詞-一般,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...,tagger _ 名詞-固有名詞-一般
3,.,記号-一般,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...,. _ 記号-一般
4,Parse,名詞-固有名詞-一般,neologd_tagger.parse(text)で各単語の原形、品詞などが1行で連続して...,Parse _ 名詞-固有名詞-一般

In [4]:
group_df = squeeze_df.groupby(['original', 'type']).count().reset_index()
group_df = group_df.rename(columns={'内容':'count'})
group_df = group_df.sort_values('count', ascending=False)# countカラムの値を降順にする
group_df = group_df.drop(['original_type'], axis=1)# original_typeカラムを削除
group_df.head()

   original       type  count
27       する      動詞-自立      7
33        で  助詞-格助詞-一般      5
42        は     助詞-係助詞      5
40        の     助詞-連体化      5
19        、      記号-読点      5

## 2.複数列の文字列と数字列を結合して新たな列を生成
文字列の列と数値の列を結合する場合は、数値の列をastype()メソッドで文字列型strに型変換する必要あり

In [5]:
group_df['original_count'] = group_df['original'] + '_' + group_df['count'].astype(str)
group_df.head()

   original       type  count original_count
27       する      動詞-自立      7           する_7
33        で  助詞-格助詞-一般      5            で_5
42        は     助詞-係助詞      5            は_5
40        の     助詞-連体化      5            の_5
19        、      記号-読点      5            、_5

##### 参考URL:https://note.nkmk.me/python-pandas-str-combine/