In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
df.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
dtype: int64

### 欠損値を「欠損値」という文字列で補完

In [4]:
df = df.fillna('欠損値')
df.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,欠損値,欠損値,欠損値,欠損値,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,欠損値,欠損値,欠損値,欠損値,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,欠損値,欠損値,欠損値,欠損値,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,欠損値,欠損値,欠損値,欠損値,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,欠損値,欠損値,欠損値,欠損値,快晴,--,16.1

In [5]:
# 欠損値がなくなったか確認
d_key = [
    'kcal',
    'remarks',
    'event',
    'payday'
]

df[d_key].isnull().sum()

kcal       0
remarks    0
event      0
payday     0
dtype: int64

In [6]:
d_df = df.drop_duplicates()
print(df.shape)
print(d_df.shape)

(207, 12)
(207, 12)

In [7]:
c_key = [
    'name',
    'kcal',
    'remarks'
]

d_df1 = df[c_key]
d_df1.head()

         name kcal remarks
0    厚切りイカフライ  欠損値     欠損値
1     手作りヒレカツ  欠損値     欠損値
2  白身魚唐揚げ野菜あん  欠損値     欠損値
3      若鶏ピリ辛焼  欠損値     欠損値
4    ビッグメンチカツ  欠損値     欠損値

## すべてのカラムに欠損値がないレコード数を確認

In [8]:
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']!='欠損値') & (d_df1['remarks']!='欠損値')].shape

(8, 3)

## [kcal]カラムのみ欠損値のレコード数を確認

In [9]:
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']!='欠損値')].shape

(13, 3)

## [remarks]カラムのみ欠損値のレコード数を確認

In [10]:
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']!='欠損値') & (d_df1['remarks']=='欠損値')].shape

(158, 3)

## [kcal]&[remarks]の2つのカラムが欠損値のレコード数を確認

In [11]:
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']=='欠損値')].shape

(28, 3)

## 全カラムが欠損値のレコード数を確認

In [12]:
d_df1[(d_df1['name']=='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']=='欠損値')].shape

(0, 3)

## 上記全パターンのレコード数の合計を算出

In [13]:
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']!='欠損値') & (d_df1['remarks']!='欠損値')].shape[0] +\
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']!='欠損値')].shape[0] +\
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']!='欠損値') & (d_df1['remarks']=='欠損値')].shape[0] +\
d_df1[(d_df1['name']!='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']=='欠損値')].shape[0] +\
d_df1[(d_df1['name']=='欠損値') & (d_df1['kcal']=='欠損値') & (d_df1['remarks']=='欠損値')].shape[0]

207