In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame({
    'id': range(1, 301),
    'used_day_cnt': np.random.randint(low=1, high=30, size=300)
})

df.head()

   id  used_day_cnt
0   1            13
1   2            16
2   3            22
3   4             1
4   5             4

## [used_day_cnt]カラムの要素について、1~10、11~20、21~30 の３つのグループに分ける関数

In [3]:
def series_classify_cluster(series):
    cluster = 9999
    if series <= 10:
        cluster = 0
    elif 11 <= series <= 20:
        cluster = 1
    elif series >= 21:
        cluster = 2
    return cluster

## apply関数で[used_day_cnt]カラムの要素毎に上記関数を適応させる

In [4]:
df['cluster'] = df['used_day_cnt'].apply(series_classify_cluster)
df.head()

   id  used_day_cnt  cluster
0   1            13        1
1   2            16        1
2   3            22        2
3   4             1        0
4   5             4        0