In [1]:
import pandas as pd
import numpy as np
import glob

### カレントディレクトリに格納されている全xlsxファイル名の抽出

In [2]:
files = glob.glob('*xlsx')

files

['4P_フレームワーク_20190219.xlsx',
 'duplication_check.xlsx',
 'gyoshu_rank_table.xlsx',
 'pivot_table_test2.xlsx',
 'visit_access_log_190216.xlsx',
 'visit_access_log_190217.xlsx',
 '文字列の長さが異なるカラムを含むテーブル.xlsx']

# 読み込んでいくデータフレームを辞書型orリスト型で格納

In [3]:
# 辞書を使った場合
df_dict = {}

for i, file in enumerate(files):
    df_dict[i] = pd.read_excel(file)

    
# 上記を辞書型内包表記にした場合
df_dict2 = {i: pd.read_excel(file) for i, file in enumerate(files)}

In [4]:
# リスト型でも格納加納
df_list = [pd.read_excel(file) for file in files]

### 辞書&リストにデータフレームが格納されているかアクセスする

In [5]:
for i in range(len(df_dict)):
    display(df_dict[i].head(2), df_dict2[i].head(2), df_list[i].head(2))

        4P
0  product
1    price

        4P
0  product
1    price

        4P
0  product
1    price

   id1  id2  judgement
0    1    2          1
1    2    3          1

   id1  id2  judgement
0    1    2          1
1    2    3          1

   id1  id2  judgement
0    1    2          1
1    2    3          1

   業種_b  格付_b  業種_s  格付_s
0     1     5     9     5
1     2     5     8     7

   業種_b  格付_b  業種_s  格付_s
0     1     5     9     5
1     2     5     8     7

   業種_b  格付_b  業種_s  格付_s
0     1     5     9     5
1     2     5     8     7

   bcif original_type original
0     1   弱み&標準_名詞-一般       弱み
1     1      弱み_名詞-一般       弱み

   bcif original_type original
0     1   弱み&標準_名詞-一般       弱み
1     1      弱み_名詞-一般       弱み

   bcif original_type original
0     1   弱み&標準_名詞-一般       弱み
1     1      弱み_名詞-一般       弱み

Empty DataFrame
Columns: [visit_id, view_jptop_flg, top_banner_click_flg, view_history_flg, view_carlineup_flg, view_car_contents_flg, view_car_detail_flg, view_welcab_flg, view_gr_flg, view_customize_flg, view_webcatalog_flg, view_dop_flg, view_naviupdate_flg, view_navimanual_flg, view_dop_childseat_flg, view_how2buy_flg, view_testdriveguide_flg, view_colors_testdrive_flg, view_ucar_search_flg, view_t_up_flg, view_ownersvoice_flg, view_ownersvoice_form_flg, view_faq_flg, view_car_faq_flg, view_catalog_unreachedfaq_flg, view_t_up_faq_flg, view_nouki_faq_flg, view_emergency_faq_flg, view_navi_faq_flg, view_ownersmanual_flg, view_afterservice_flg, view_owner_afterservice_flg, view_recall_flg, view_compare_flg, view_tradein_flg, view_estimate_flg, view_dealer_estimate_flg, view_3dsim_flg, view_store_search_flg, view_store_cv_flg, view_store_detail_flg, view_shopcalendar_flg, view_catalog_flg, view_catalog_input_flg, view_catalog_selectdlr_flg, view_catalog_confirm_flg, view_trial_search_flg, view_trial_form_flg, view_sales_search_flg, view_sales_form_flg, view_mail_register_form_flg, view_mail_register_transmission_flg, view_mail_register_complete_flg, view_mail_release_form_flg, view_mail_release_transmission_flg, view_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_car_count, buy_new_car_count, buy_used_car_count, buy_new_car_flg, buy_used_car_flg, total_visit_count_before_buy, total_view_car_count_before_buy, landing_page_scroll_rate, landing_view_time, is_buy, is_before_buy, is_after_buy]
Index: []

[0 rows x 76 columns]

Empty DataFrame
Columns: [visit_id, view_jptop_flg, top_banner_click_flg, view_history_flg, view_carlineup_flg, view_car_contents_flg, view_car_detail_flg, view_welcab_flg, view_gr_flg, view_customize_flg, view_webcatalog_flg, view_dop_flg, view_naviupdate_flg, view_navimanual_flg, view_dop_childseat_flg, view_how2buy_flg, view_testdriveguide_flg, view_colors_testdrive_flg, view_ucar_search_flg, view_t_up_flg, view_ownersvoice_flg, view_ownersvoice_form_flg, view_faq_flg, view_car_faq_flg, view_catalog_unreachedfaq_flg, view_t_up_faq_flg, view_nouki_faq_flg, view_emergency_faq_flg, view_navi_faq_flg, view_ownersmanual_flg, view_afterservice_flg, view_owner_afterservice_flg, view_recall_flg, view_compare_flg, view_tradein_flg, view_estimate_flg, view_dealer_estimate_flg, view_3dsim_flg, view_store_search_flg, view_store_cv_flg, view_store_detail_flg, view_shopcalendar_flg, view_catalog_flg, view_catalog_input_flg, view_catalog_selectdlr_flg, view_catalog_confirm_flg, view_trial_search_flg, view_trial_form_flg, view_sales_search_flg, view_sales_form_flg, view_mail_register_form_flg, view_mail_register_transmission_flg, view_mail_register_complete_flg, view_mail_release_form_flg, view_mail_release_transmission_flg, view_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_car_count, buy_new_car_count, buy_used_car_count, buy_new_car_flg, buy_used_car_flg, total_visit_count_before_buy, total_view_car_count_before_buy, landing_page_scroll_rate, landing_view_time, is_buy, is_before_buy, is_after_buy]
Index: []

[0 rows x 76 columns]

Empty DataFrame
Columns: [visit_id, view_jptop_flg, top_banner_click_flg, view_history_flg, view_carlineup_flg, view_car_contents_flg, view_car_detail_flg, view_welcab_flg, view_gr_flg, view_customize_flg, view_webcatalog_flg, view_dop_flg, view_naviupdate_flg, view_navimanual_flg, view_dop_childseat_flg, view_how2buy_flg, view_testdriveguide_flg, view_colors_testdrive_flg, view_ucar_search_flg, view_t_up_flg, view_ownersvoice_flg, view_ownersvoice_form_flg, view_faq_flg, view_car_faq_flg, view_catalog_unreachedfaq_flg, view_t_up_faq_flg, view_nouki_faq_flg, view_emergency_faq_flg, view_navi_faq_flg, view_ownersmanual_flg, view_afterservice_flg, view_owner_afterservice_flg, view_recall_flg, view_compare_flg, view_tradein_flg, view_estimate_flg, view_dealer_estimate_flg, view_3dsim_flg, view_store_search_flg, view_store_cv_flg, view_store_detail_flg, view_shopcalendar_flg, view_catalog_flg, view_catalog_input_flg, view_catalog_selectdlr_flg, view_catalog_confirm_flg, view_trial_search_flg, view_trial_form_flg, view_sales_search_flg, view_sales_form_flg, view_mail_register_form_flg, view_mail_register_transmission_flg, view_mail_register_complete_flg, view_mail_release_form_flg, view_mail_release_transmission_flg, view_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_car_count, buy_new_car_count, buy_used_car_count, buy_new_car_flg, buy_used_car_flg, total_visit_count_before_buy, total_view_car_count_before_buy, landing_page_scroll_rate, landing_view_time, is_buy, is_before_buy, is_after_buy]
Index: []

[0 rows x 76 columns]

Empty DataFrame
Columns: [visit_id, gv_jptop_flg, top_banner_click_flg, gv_bikelineup_flg, gv_bike_contents_flg, gv_bike_detail_flg, gv_welcab_flg, gv_gr_flg, gv_customize_flg, gv_webcatalog_flg, gv_dop_childseat_flg, gv_how2buy_flg, gv_testdriveguide_flg, gv_colors_testdrive_flg, gv_bike_search_flg, gv_t_up_flg, gv_ownersvoice_flg, gv_ownersvoice_form_flg, gv_faq_flg, gv_bike_faq_flg, gv_catalog_unreachedfaq_flg, gv_t_up_faq_flg, gv_nouki_faq_flg, gv_emergency_faq_flg, gv_navi_faq_flg, gv_ownersmanual_flg, gv_afterservice_flg, gv_owner_afterservice_flg, gv_recall_flg, gv_compare_flg, gv_tradein_flg, gv_estimate_flg, gv_dealer_estimate_flg, gv_3dsim_flg, gv_store_search_flg, gv_store_cv_flg, gv_store_detail_flg, gv_shopcalendar_flg, gv_catalog_flg, gv_catalog_input_flg, gv_catalog_selectdlr_flg, gv_catalog_confirm_flg, gv_trial_search_flg, gv_trial_form_flg, gv_sales_search_flg, gv_sales_form_flg, gv_mail_register_form_flg, gv_mail_register_transmission_flg, gv_mail_register_complete_flg, gv_mail_release_form_flg, gv_mail_release_transmission_flg, gv_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_bike_count, buy_new_bike_count, buy_used_bike_count, buy_new_bike_flg, buy_used_bike_flg, total_visit_count_before_buy, total_gv_bike_count_before_buy, landing_page_scroll_rate, landing_gv_time, is_buy_flg, is_before_buy_flg, is_after_buy_flg]
Index: []

[0 rows x 72 columns]

Empty DataFrame
Columns: [visit_id, gv_jptop_flg, top_banner_click_flg, gv_bikelineup_flg, gv_bike_contents_flg, gv_bike_detail_flg, gv_welcab_flg, gv_gr_flg, gv_customize_flg, gv_webcatalog_flg, gv_dop_childseat_flg, gv_how2buy_flg, gv_testdriveguide_flg, gv_colors_testdrive_flg, gv_bike_search_flg, gv_t_up_flg, gv_ownersvoice_flg, gv_ownersvoice_form_flg, gv_faq_flg, gv_bike_faq_flg, gv_catalog_unreachedfaq_flg, gv_t_up_faq_flg, gv_nouki_faq_flg, gv_emergency_faq_flg, gv_navi_faq_flg, gv_ownersmanual_flg, gv_afterservice_flg, gv_owner_afterservice_flg, gv_recall_flg, gv_compare_flg, gv_tradein_flg, gv_estimate_flg, gv_dealer_estimate_flg, gv_3dsim_flg, gv_store_search_flg, gv_store_cv_flg, gv_store_detail_flg, gv_shopcalendar_flg, gv_catalog_flg, gv_catalog_input_flg, gv_catalog_selectdlr_flg, gv_catalog_confirm_flg, gv_trial_search_flg, gv_trial_form_flg, gv_sales_search_flg, gv_sales_form_flg, gv_mail_register_form_flg, gv_mail_register_transmission_flg, gv_mail_register_complete_flg, gv_mail_release_form_flg, gv_mail_release_transmission_flg, gv_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_bike_count, buy_new_bike_count, buy_used_bike_count, buy_new_bike_flg, buy_used_bike_flg, total_visit_count_before_buy, total_gv_bike_count_before_buy, landing_page_scroll_rate, landing_gv_time, is_buy_flg, is_before_buy_flg, is_after_buy_flg]
Index: []

[0 rows x 72 columns]

Empty DataFrame
Columns: [visit_id, gv_jptop_flg, top_banner_click_flg, gv_bikelineup_flg, gv_bike_contents_flg, gv_bike_detail_flg, gv_welcab_flg, gv_gr_flg, gv_customize_flg, gv_webcatalog_flg, gv_dop_childseat_flg, gv_how2buy_flg, gv_testdriveguide_flg, gv_colors_testdrive_flg, gv_bike_search_flg, gv_t_up_flg, gv_ownersvoice_flg, gv_ownersvoice_form_flg, gv_faq_flg, gv_bike_faq_flg, gv_catalog_unreachedfaq_flg, gv_t_up_faq_flg, gv_nouki_faq_flg, gv_emergency_faq_flg, gv_navi_faq_flg, gv_ownersmanual_flg, gv_afterservice_flg, gv_owner_afterservice_flg, gv_recall_flg, gv_compare_flg, gv_tradein_flg, gv_estimate_flg, gv_dealer_estimate_flg, gv_3dsim_flg, gv_store_search_flg, gv_store_cv_flg, gv_store_detail_flg, gv_shopcalendar_flg, gv_catalog_flg, gv_catalog_input_flg, gv_catalog_selectdlr_flg, gv_catalog_confirm_flg, gv_trial_search_flg, gv_trial_form_flg, gv_sales_search_flg, gv_sales_form_flg, gv_mail_register_form_flg, gv_mail_register_transmission_flg, gv_mail_register_complete_flg, gv_mail_release_form_flg, gv_mail_release_transmission_flg, gv_mail_release_complete_flg, cv_maker_simulation_flg, cv_dealer_simulation_flg, cv_tradein_simulation_flg, cv_maker_catalog_entry_flg, cv_dealer_catalog_entry_flg, cv_test_drive_flg, cv_talk_reservation_flg, cv_adv_talk_reservation_flg, buy_bike_count, buy_new_bike_count, buy_used_bike_count, buy_new_bike_flg, buy_used_bike_flg, total_visit_count_before_buy, total_gv_bike_count_before_buy, landing_page_scroll_rate, landing_gv_time, is_buy_flg, is_before_buy_flg, is_after_buy_flg]
Index: []

[0 rows x 72 columns]

   id  code_id
0   1      101
1   2      102

   id  code_id
0   1      101
1   2      102

   id  code_id
0   1      101
1   2      102