In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../data/prefecture.xlsx')

df

           ADDRESS
0  東京都千代田区有楽町1-1-2
1          神奈川県横浜市
2         和歌山県和歌山市
3           京都府京都市
4         鹿児島県鹿児島市

# 都道府県市区町村の文字列から都道府県のみ抽出

In [3]:
# 都道府県部分が4文字の都道府県をリストに格納
four_str_prefectures_list = ['神奈川県','和歌山県','鹿児島県']

# 都道府県市区町村の文字列の先頭から4文字目までを抽出し、その4文字がリストに格納されていれば4文字、格納されていなければ3文字を抽出
df['都道府県名'] =df['ADDRESS'].apply(lambda x: x[:4] if x[:4] in four_str_prefectures_list else x[:3])

In [4]:
df

           ADDRESS 都道府県名
0  東京都千代田区有楽町1-1-2   東京都
1          神奈川県横浜市  神奈川県
2         和歌山県和歌山市  和歌山県
3           京都府京都市   京都府
4         鹿児島県鹿児島市  鹿児島県