In [1]:
# データ分析用のライブラリ
import pandas as pd
import numpy as np

#### データ読み込み時にカラムを絞る
usecols=['xx', 'yy']を引数に与える

In [2]:
squeeze_df = pd.read_csv('all_text_wakatigaki.csv', usecols=['original'] ,encoding='utf-8')
squeeze_df.head()

  original
0  NEologd
1        _
2   tagger
3        .
4    Parse

## 重複していない要素のみ残す
### 重複している要素は残さずにすべて削除したい場合は引数に[keep=False]を与える

In [3]:
# 重複していない単語のみ残す
# 重複している値は残さずにすべて削除したい場合は引数に[keep=False]を与える
drop_dup_word_df = squeeze_df.drop_duplicates(keep=False)
drop_dup_word_df.head()

  original
0  NEologd
2   tagger
3        .
5        (
7        )