In [1]:
import pandas as pd
import numpy as np

In [2]:
# 水筒:1000の組み合わせを重複させたデータフレームを作成

df = pd.DataFrame({
    'product':['水筒', 'フライパン', '鍋', 'フライパン','水筒', '傘'],
    'price':['1000', '2000', '3000', '4000', '1000', '800']
})

df

  price product
0  1000      水筒
1  2000   フライパン
2  3000       鍋
3  4000   フライパン
4  1000      水筒
5   800       傘

In [3]:
u_df = df[df.duplicated()]
u_df

  price product
4  1000      水筒