In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    '4P':['product', 'price', 'place', 'promotion']
})

df

          4P
0    product
1      price
2      place
3  promotion

# 関数内で引数に与えた変数を使用する

In [3]:
def add_colum(df, left_or_right):
    df['4P_' + left_or_right] = df['4P'].map(lambda x:x.upper())
    
    return df

In [4]:
add_colum(df, 'left')

          4P    4P_left
0    product    PRODUCT
1      price      PRICE
2      place      PLACE
3  promotion  PROMOTION

In [5]:
add_colum(df, 'right')

          4P    4P_left   4P_right
0    product    PRODUCT    PRODUCT
1      price      PRICE      PRICE
2      place      PLACE      PLACE
3  promotion  PROMOTION  PROMOTION